* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100vh;
}
body {
  font-family: "Open Sans";
  background-color: rgb(78, 66, 66);
}

.result-wrapper {
  color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color:bisque;
  font-size: 4em;
}
.zodiac-date{
  color: bisque;
font-size: 0.8rem;
}
/* Style untuk tabel */
table {
  color:bisque;
  width: 80%;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

/* Style untuk sel header */


/* Style untuk sel data */
td {
  padding: 8px;
}

/* Style untuk baris genap */

/* Style untuk baris saat dihover */

.sign{
  text-transform:capitalize;
}
img {
  width: 15%;
  height: 15%;
}
footer{
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(53, 39, 39);
  width: 100%;
}

footer p{
  padding: 10px;
  font-weight: 600;
  color: wheat;
}


@media screen and (max-width: 576px) {
  footer{
    position:absolute;
  }
  footer p {
    font-size: 8px;
  }

  table{
    font-size: 10px;
  }
  img{
    width: 40%;
    height: 40%;
  }
}